
<link rel="stylesheet" href="css/offcanvas.css">
<link href="css/findhome.css" rel="stylesheet">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>


            <a class="pull-left navbar-brand page-scroll" href="#/qna/{{model.uName}}">
                <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>
            </a>

            <span class="navbar-brand page-name page-scroll">Answer</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#/home/{{model.uName}}"> <i class="fa fa-home fa-2x" aria-hidden="true"></i> </a>
                </li>
                <!-- <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                 </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-lg-12 col-sm-9">

            <div class="jumbotron row">
                <div class="col-xs-12 col-lg-12 text-center">

                    <div class="card card-outline-primary text-xs-center">
                        <div class="container">
                            <div class="col-lg-6 col-lg-offset-3 card-header text-center">
                                <h3 class="tags"> Tags : {{model.question.tags}} </h3>
                            </div>
                            <div class=" col-lg-12 card-block">

                                <p class="card-text question"> {{model.question.text}} </p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <div ng-repeat="answer in model.answers" class="container">

                                <hr>
                                <div class="col-sm-12 col-lg-10">
                                    <li class="list-group-item">{{answer.text}}</li>
                                </div>

                                <div class="col-sm-12 col-lg-2 bg-warning">
                                    <h3>Helpful</h3>
                                    <div>
                                        <h4>{{answer.helpful}}</h4>
                                    </div>
                                    <div class="glyphicon glyphicon-ok btn-warning">

                                    </div>
                                    <h3>Posted By:</h3>
                                    <div>
                                        <h4>{{answer.answeredBy}}</h4>
                                    </div>
                                </div>

                            </div>

                        </ul>
                        <div>

                        </div>
                        <div class="card-block">
                            <form id="loginForm" name="loginForm"  role="form" style="display: block;" novalidate>
                            <div class="form-group">
                                <h3>Type your Answer</h3>

                                <textarea class="form-control"
                                          id="answerArea"
                                          name="answerArea"
                                          rows="3"
                                          ng-model="model.answer" required>
                                    <div ng-show="loginForm.$submitted && loginForm.answerArea.$invalid" class="elementErrorMsg">
                                        <span>*required field</span>
                                    </div>
                                </textarea>

                            </div>
                            </form>
                            <p><button class="btn btn-lg btn-primary" ng-click="(submitted=true) && loginForm.$valid && model.submitAnswer()" role="button">Submit</button></p>
                        </div>
                    </div>
                </div><!--/.col-xs-6.col-lg-4-->

            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

</div><!--/.container-->

<script src="js/offcanvas.js"></script>
