<!--
<div ng-repeat="message in model.messages">
        {{ message.user.name }}:
        {{ message.data }}
</div>
<form ng-submit="model.send()">
    <input ng-model="model.textbox">
    <input type="submit" value="send">
</form>
-->


<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<!-- Chat Messages -->
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<link href="css/chat-style.css" rel="stylesheet">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#/">Group Chat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <!-- <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                 </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="chat-container">
    <div class="chat-messages">
        <div class="chat-header">
            <div class="angularjs-chat-logo"><i class="fa fa-users fa-3x" aria-hidden="true"></i></div>
            {{model.welcome}}
        </div>
        <div ng-repeat="message in model.messages">
            <div class="sent-message-{{ message.self }}">
                <span class="username">{{ message.user.name }}:</span>
                {{ message.data }}
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- User Input -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <form ng-submit="model.send()" class="chat-input">
        <input type="text" ng-model="model.textbox" autofocus>
        <input type="submit" class="send-icon" value=" ">
        <input type="submit" value=" "
               class="sent-indicator {{ model.status }}">
    </form>
</div>