<head>
    <!-- Theme CSS -->

    <link rel="stylesheet" type='text/css'  href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type='text/css'  href="https://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type='text/css'  href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
</head>


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#/">FIND MY HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <!-- <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                 </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section  id="houses" >
<div class="container">
    <h3 class="section-heading text-center" id="homeHeading">Search criteria</h3>
    <hr>
    <div id="search_block" class="panel-body">
        <form role="form" class="form-horizontal" method="post" action="">
            <div class="form-group">
                <div class="control-label">
                <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="v_search">Search:</label>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-4">
                    <input placeholder="Enter Search Keywords" value="" ng-model="model.searchText" name="v_search" id="v_search" class="form-control" type="text">
                </div>
                <div class="button-group col-xs-10 col-sm-8 col-md-2">
                    <button class="btn btn-primary" ng-click="model.housesList()" value="search" name="search" type="submit">Search</button>
                    <button class="btn btn-default" value="reset" name="reset" type="reset">Reset</button>
                </div>
                <div class="control-label">
                    <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="filters">Price:</label>
                </div>
                <div class="form-group col-xs-10 col-sm-8 col-md-4" id="filters">
                    <select class="form-control"  name="section_id" ng-model="model.price">
                        <option selected="selected" value="all"> Any Price </option>
                        <option value="all"> < $100,000</option>
                        <option value="all"> < $1,000,000</option>
                        <option value="all"> < $10,000,000</option>
                    </select>
                </div>
                <div class="form-group col-xs-10 col-sm-8 col-md-2" id="rooms">
                    <select class="form-control" name="section_id" ng-model="model.room">
                        <option value="all"> 1 Bed Room </option>
                        <option value="all"> 2 Bed Rooms </option>
                        <option value="all"> 3 or more Bed Rooms </option>
                    </select>
                </div>
            </div>
        </form>
    </div>


    <div ng-show="true" class="row no-gutter popup-gallery" id="searchSuggested">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <h6 style="color: #eb3812">Suggested houses:</h6>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            175 Hemenway Street
                        </div>
                        <div class="project-name">
                            $1,500,000 1BHK
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            231 Boylston Street
                        </div>
                        <div class="project-name">
                            $2,000,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            492 Beacon St
                        </div>
                        <div class="project-name">
                            $1,500,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
<br/>

    <div ng-show="false" class="row no-gutter popup-gallery" id="search1">
        <div class="row">
            <h4 style="color: #eb3812">Other houses:</h4>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            175 Hemenway Street
                        </div>
                        <div class="project-name">
                            $1,500,000 1BHK
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            231 Boylston Street
                        </div>
                        <div class="project-name">
                            $2,000,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            492 Beacon St
                        </div>
                        <div class="project-name">
                            $1,500,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            492 Beacon St
                        </div>
                        <div class="project-name">
                            $1,500,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div ng-show="false" class="row no-gutter popup-gallery" id="search2">
        <div class="row">
            <h4 style="color: #eb3812">Other houses:</h4>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            175 Hemenway Street
                        </div>
                        <div class="project-name">
                            $1,500,000 1BHK
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5">
            <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            231 Boylston Street
                        </div>
                        <div class="project-name">
                            $2,000,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div ng-show="true" class="row no-gutter popup-gallery" id="search3">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            231 Boylston Street
                        </div>
                        <div class="project-name">
                            $2,000,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            492 Beacon St
                        </div>
                        <div class="project-name">
                            $1,500,000 Condo
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>


</div>
</section>

<script src="js/houses.js"></script>