

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>


            <a class="pull-left navbar-brand page-scroll" href="#/home/{{model.uName}}">
                <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>
            </a>

            <a class="navbar-brand page-name page-scroll" href="">Search</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#/home/{{model.uName}}"> <i class="fa fa-home fa-2x" aria-hidden="true"></i> </a>
                </li>
                <!-- <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                 </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<section  id="houses" >
<div class="container">
    <h3 class="section-heading text-center" id="homeHeading">Search criteria</h3>
    <hr>
    <div id="search_block" class="panel-body">
            <div class="row">
                <div class="control-label">
                <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="v_search">Search:</label>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-4">
                    <input placeholder="Enter Search Keywords" value="" ng-model="model.searchText" name="v_search" id="v_search" class="form-control" type="text">
                </div>
                <div class="col-xs-10 col-sm-8 col-md-2">
                    <button class="btn btn-primary" ng-click="model.housesList()" value="search" name="search">Search</button>
                    <button class="btn btn-default" value="reset" name="reset" type="reset">Reset</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="control-label">
                    <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="filters">Price:</label>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-4" id="filters">
                    <select class="form-control"  name="section_id" ng-model="model.price">
                        <option value="all"> Any Price </option>
                        <option value="hun"> < $500,000</option>
                        <option value="tho"> < $1,000,000</option>
                        <option value="mil"> < $5,000,000</option>
                    </select>
                </div>
                <div class="control-label">
                    <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="rooms">Rooms:</label>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-2" id="rooms">
                    <select class="form-control" name="section_id" ng-model="model.room">
                        <option value="1b"> 1 Bed Room </option>
                        <option value="2b"> 2 Bed Rooms </option>
                        <option value="3b"> 3 or more Bed Rooms </option>
                    </select>
                </div>
               <!-- <div class="control-label">
                    <label class="col-xs-10 col-sm-2 col-md-1 control-label" for="filters">Type:</label>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-2" id="type">
                    <select class="selectpicker" multiple data-actions-box="true" ng-model="model.type">
                        <option > Apartment </option>
                        <option > Condo </option>
                        <option > TownHomes </option>
                    </select>


                </div>-->
                </div>
            <br/>
            <div class="row">
                <label class="control-label">
                     &nbsp;&nbsp; </label>
                    <label class="checkbox-inline btn btn-default">
                            <input type="checkbox" value="SmokeFree" ng-model="model.SmokeFree">Smoke-Free
                    </label>
                    <label class="checkbox-inline btn btn-default">
                        <input type="checkbox" value="PetF" ng-model="model.PetF">Pet-Friendly
                    </label>
                    <label class="checkbox-inline btn btn-default">
                        <input type="checkbox" value="Access" ng-model="model.Access">Wheelchair Accessible
                    </label>
                    <label class="checkbox-inline btn btn-default">
                        <input type="checkbox" value="Child" ng-model="model.Child">Child-Friendly
                    </label>
            </div>
    </div>


    <div ng-if="model.sugDiv==1" class="row no-gutter popup-gallery" id="model.searchSuggested">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <h6 style="color: #eb3812"> Suggested houses:</h6>
            </div>
        </div>

            <div class="panel panel-default col-lg-3 col-sm-6">
                <div class="panel-heading">
                    <h3 class="panel-title">492 Beacon St</h3>
                </div>
                <div class="panel-body">
                    <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                </div>
                <div class="panel-footer"> $480,000 Condo</div>
            </div>
    </div>
    <div ng-if="model.sugDiv==2" class="row no-gutter popup-gallery">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812"> Suggested houses:</h6>
            </div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">492 Beacon St</h3>
            </div>
            <div class="panel-body">
                <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $480,000 Condo</div>
        </div>
        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">66 Orchard St # 2</h3>
            </div>
            <div class="panel-body">
                <img src="img/3bOrchard.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $799,000 5 beds, 2 baths, 2374 sqft</div>
        </div>

    </div>

    <br/>

    <div ng-if="model.housesDiv==1" class="row no-gutter popup-gallery" ng-model="model.search1">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
            <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>
        <div class="col-lg-3 col-sm-5">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">175 Hemenway Street</h3>
                    </div>
                    <div class="panel-body">
                        <img src="img/portfolio/thumbnails/h1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="panel-footer"> $500,000 1BHK</div>
                </div>
        </div>
        <div class="col-lg-3 col-sm-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">54/58 Myrtle St # 1</h3>
                </div>
                <div class="panel-body">
                    <img src="img/hunt1bMyrel.jpg" class="img-responsive" alt="">
                </div>
                <div class="panel-footer">$475,000  1 bed, 1 bath, 455 sqft</div>
            </div>

        </div>
        <div class="col-lg-3 col-sm-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">492 Beacon St</h3>
                </div>
                <div class="panel-body">
                    <img src="img/portfolio/thumbnails/h3.jpg" class="img-responsive" alt="">
                </div>
                <div class="panel-footer"> $480,000 Condo</div>
            </div>
        </div>
    </div>

    <div ng-if="model.housesDiv==2" class="row no-gutter popup-gallery" id="search2">
        <div class="row">
            <h6 style="color: #eb3812">Other houses:</h6>
        </div>
        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">47 Lopez St APT 4</h3>
            </div>
            <div class="panel-body">
                <img src="img/2bLopez.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $479,000  2 beds, 1 bath, 897 sqft</div>
        </div>
        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">7 Iroquois, Mission Hill</h3>
            </div>
            <div class="panel-body">
                <img src="img/2bIri.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $899,000 2 beds, 2 bath</div>
        </div>
    </div>

    <div ng-if="model.housesDiv==3" class="row no-gutter popup-gallery" id="search3">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">4 Westminster Ave # 1</h3>
            </div>
            <div class="panel-body">
                <img src="img/hunt3bWestminster.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $399,900 3 beds,1 bath, 1454 sqft</div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">2967B Washington St # 8</h3>
            </div>
            <div class="panel-body">
                <img src="img/3bWash.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $1,005,000 3 beds, 3 baths, 1443 sqft</div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">66 Orchard St # 2</h3>
            </div>
            <div class="panel-body">
                <img src="img/3bOrchard.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $799,000 5 beds, 2 baths, 2374 sqft</div>
        </div>

    </div>


    <div ng-if="model.housesDiv==4" class="row no-gutter popup-gallery" id="search4">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">4 Westminster Ave # 1</h3>
            </div>
            <div class="panel-body">
                <img src="img/hunt3bWestminster.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $399,900 3 beds,1 bath, 1454 sqft</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">175 Hemenway Street</h3>
            </div>
            <div class="panel-body">
                <img src="img/portfolio/thumbnails/h1.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $500,000 1BHK</div>
        </div>
    </div>

    <div ng-if="model.housesDiv==5" class="row no-gutter popup-gallery" id="search5">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">7 Iroquois, Mission Hill</h3>
            </div>
            <div class="panel-body">
                <img src="img/2bIri.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $899,000 2 beds, 2 bath</div>
        </div>

        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">66 Orchard St # 2</h3>
            </div>
            <div class="panel-body">
                <img src="img/3bOrchard.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $799,000 5 beds, 2 baths, 2374 sqft</div>
        </div>
    </div>


    <div ng-if="model.housesDiv==6" class="row no-gutter popup-gallery" id="search6">
        <div class="row ">
            <div class="col-lg-3 col-sm-6 col-xs-10 ">
                <h6 style="color: #eb3812">Other houses:</h6>
            </div>
        </div>
        <div class="panel panel-default col-lg-3 col-sm-6">
            <div class="panel-heading">
                <h3 class="panel-title">2967B Washington St # 8</h3>
            </div>
            <div class="panel-body">
                <img src="img/3bWash.jpg" class="img-responsive" alt="">
            </div>
            <div class="panel-footer"> $1,005,000 3 beds, 3 baths, 1443 sqft</div>
        </div>
    </div>
</div>
</section>