<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>


            <a class="pull-left navbar-brand page-scroll" href="#/home/{{model.uName}}/houses">
                <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>
            </a>

            <a class="navbar-brand page-name page-scroll" href="#/">House Details</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#/"> <i class="fa fa-home fa-2x" aria-hidden="true"></i> </a>
                </li>
                <!-- <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                 </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <h1 class="houseDetail-heading">Details</h1>
    
    <div>
        <img src="img/portfolio/thumbnails/h1.jpg" class="houseDetail-image">
    </div>
    <br>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <td>11 Tetlow St, Boston, MA 02115</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>$326000</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>550 sqft</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>+1 617-111-2222 </td>
            </tr>
            <tr>
                <th>Details</th>
                <td>1 BHK split, 1 Bath</td>
            </tr>

        </table>
    </div>

    <div>
        <h3>Comments:</h3>
        <ul class="list-unstyled">
            <li>
                <em>
                    Alice
                </em>
                <p>
                    Can I know the avialablity start date of the house?
                </p>
            </li>
            <li>
                <em>
                    Bob
                </em>
                <p>
                    Please contact seller for information.
                </p>
            </li>
            <li>
                <em>
                    Charlie
                </em>
                <p>
                    Is the apartment pet-friendly?
                </p>
            </li>
            <li>
                <em>
                    Jon
                </em>
                <p>
                    Yes. The apartment is pet-friendly.
                </p>
            </li>
        </ul>
        <br>
        <form>
            <label for="comment">Write a comment</label>
            <textarea id="comment" class="form-control"></textarea>
            <a class="btn btn-block btn-primary houseDetail-buttons">Ask in Q&A Forum</a>
            <a class="btn btn-block btn-success houseDetail-buttons">Write a comment</a>
        </form>
    </div>
</div>
